<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<!-- 表格 -->
<table class="table">
  <tr>
    <th>序号</th>
    <th>作业编号</th>
    <th>提交内容</th>
  </tr>


  <tr th:each="item:${workList}">
    <td th:text="${item.id}">1</td>
    <td th:text="${item.assignmentId}">作业1</td>
    <td th:text="${item.answer}">2022-01-01</td>
  </tr>
</table>




</body>
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

<script type="text/javascript" th:src="@{/js/test.js}"></script>
</html>
