<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<div class="all" th:fragment="chaKan">
    <div class="container-fluid">
        <div class="col-md-3" style="margin: 10px 0px 10px 0px">
            <form class="d-flex">
                <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-2" style="margin-bottom: 10px">
            <button class="btn btn-outline-success" type="button" data-bs-toggle="modal"
                    data-bs-target="#exampleModal4"
                    data-bs-whatever="@mdo">Add</button>
        </div>


        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">C++</th>
                <th scope="col">Web</th>
                <th scope="col">Java</th>
                <th scope="col">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s:${stu}">
                <td scope="row" th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td th:text="${s.classId}"></td>
                <td th:text="${s.cScore}"></td>
                <td th:text="${s.webScore}"></td>
                <td th:text="${s.javaScore}"></td>
                <td>
                    <button class="btn btn-outline-success " type="button" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                            data-bs-whatever="@mdo" style="width: 80px; margin-right: 10px ">Edit</button>
                    <div
                            class="modal fade"
                            id="exampleModal"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">编辑信息</h5>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/update}" role="form" method="post">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">ID</span>
                                            <input
                                                    type="text"
                                                    name="id"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.id}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">姓名</span>
                                            <input
                                                    type="text"
                                                    name="name"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.name}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">班级</span>
                                            <input
                                                    type="text"
                                                    name="classId"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.classId}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">CScore</span>
                                            <input
                                                    type="text"
                                                    name="cScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.cScore}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">WebScore</span>
                                            <input
                                                    type="text"
                                                    name="webScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.webScore}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">JavaScore</span>
                                            <input
                                                    type="text"
                                                    name="javaScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.javaScore}"
                                            />
                                        </div>
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button type="submit" class="btn btn-primary" >Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                            class="modal fade"
                            id="exampleModal4"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel2"
                            aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">编辑信息</h5>
                                    <button
                                            type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"
                                    ></button>
                                </div>
                                <div class="modal-body">
                                    <form role="form" method="post">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">ID</span>
                                            <input
                                                    type="text"
                                                    name="id"
                                                    id = "id"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.id}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">姓名</span>
                                            <input
                                                    type="text"
                                                    name="name"
                                                    id = "name"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.name}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">班级</span>
                                            <input
                                                    type="text"
                                                    name="classId"
                                                    id = "classId"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.classId}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">CScore</span>
                                            <input
                                                    type="text"
                                                    name="cScore"
                                                    id = "cScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.cScore}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">WebScore</span>
                                            <input
                                                    type="text"
                                                    name="webScore"
                                                    id = "webScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.webScore}"
                                            />
                                        </div>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">JavaScore</span>
                                            <input
                                                    type="text"
                                                    name="javaScore"
                                                    id = "javaScore"
                                                    class="form-control"
                                                    placeholder="Username"
                                                    aria-label="Username"
                                                    aria-describedby="basic-addon1"
                                                    th:value="${s.javaScore}"
                                            />
                                        </div>
                                        <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                        >
                                            Close
                                        </button>
                                        <button type="button" class="btn btn-primary" id="send">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function delstu(id) {
                            if (confirm("确定删除？")){
                                window.location.href="/delstu?id="+id;//get请求
                            }
                        }
                    </script>
                    <button class="btn btn-outline-success" type="button" th:onclick="'delstu(\'' + ${s.id} + '\');'" style="width: 80px">Delete</button>
<!--                    <button class="btn btn-outline-success" type="button" th:onclick="test" style="width: 80px " >Test</button>-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:class="${previous}? 'previous':'disabled'" style="margin-right: 150px;"><a style="float: none;" th:href="@{/teacher(pn=${now}-1)}">&larr;Prev</a></li>
            <li th:class="${next}? 'next':'disabled'" style="margin-left: 150px;"><a style="float: none" th:href="@{/teacher(pn=${now}+1)}">&rarr;Next</a></li>
        </ul>
    </nav>
</div>

</body>
<script
        type="text/javascript"
        th:src="@{/js/bootstrap.js}"
>
    var exampleModal = document.getElementById('exampleModal')
    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = 'New message to ' + recipient
        modalBodyInput.value = recipient
    })




</script>
</html>