<style>

</style>

<div id="ckCon" class="container d-flex flex-column justify-content-start">
    <h1 class="title">创建班级</h1>
    <div class="fun my-5">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#InfoModal"
            data-bs-action="new">创建班级</button>
    </div>
    <div class="rcd row" id="classes">
        <div class="col-md-3">
            <table class="table table-bordered table-hover align-middle">
                <thead>
                    <th>标题</th>
                    <th>答案</th>
                    <th>学生</th>
                </thead>
                <tbody id="info">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

</script>